.Notifications {
    position: relative;
    border: 3px dashed #e0354b;
    padding: 5px;
}

.Notifications button img {
    height: 17px;
    width: 17px;
}

.Notifications li[data-priority="default"] {
    color: blue;
}

.Notifications li[data-priority="urgent"] {
    color: red;
}